<div id="<%= dom_id programming_language %>">
  <p>
    <strong>Title:</strong>
    <%= programming_language.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= programming_language.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= programming_language.link %>
  </p>

</div>
